<rd-widget>
            <rd-widget-header icon="fa-tasks" title="Devices">
                <!-- <a href="#">Manage Devices</a> -->
                    <div style="text-align:right">
                       <a href="" ng-click="openNewDeviceModal()"><i class="fa fa-plus" aria-hidden="true"></i></a>

                    </div>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                   <table class="table table-hover">
                      <thead>
                         <tr><th>DeviceID</th><th>Alias</th><th><center>Online</center></th></tr>
                     </thead>
                     <tbody>
                         <tr style="cursor:pointer;" ng-repeat="device in devices" ng-click="navigateToDevice(device.did)" >
                            <td>{{device.did}}</td>
                            <td>{{device.alias}}</td>
                            <td>
                                <center>
                                    <span class="fa fa-circle" style="color:#5cb85c" ng-if="device.online"></span>
                                    <span class="fa fa-circle-o" style="color:#d9534f" ng-if="!device.online"></span>
                                </center>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </rd-widget-body>
    </rd-widget>