<div class="modal-body">
    <h3 align="center"> Add Device To Group</h3>
	<form method="post" ng-submit="submit()">
        <div class="row">
	        <div class="col-md-6">
				<h4 class="modal-title" align="center">Existing Device</h3>
				<!-- <div ng-class="alertClass" class="col-xs-12">
					 	{{alertMsg}}
				</div> -->
				<div class="modal-body">
            		<label for="name">Device ID</label>
            		<input required type="text" class="form-control" id="name" ng-model="did" placeholder="Device ID">
				</div> 
    		</div>
        	<div class="col-md-6">
          		<h4 class="modal-title" align="center">New Device</h3>
				<div class="modal-body">
		            <label for="did">Device ID</label>
            		<input required type="text" class="form-control" id="name" ng-model="newDid" placeholder="Device ID">
		            <label for="alias">Alias</label>
		            <input required type="text" class="form-control" id="alias" ng-model="alias" placeholder="Alias">
		        <!-- <br />
		            <label for="gid" style="display: block">Group</label>
		            <select name="gid" id="gid" ng-model="gid" style="display: block">
		                <option ng-repeat="group in groups" value="{{group.gid}}">{{group.name}} ({{group.gid}})</option>
		            </select> -->
		            <label for="description">Description</label><br>
		            <textarea required class="form-control" id="description" ng-model="description" placeholder="Description..."></textarea>

				</div> 
		    </div>
		</div>
		<div class="modal-footer">
	    	<input type="submit" class="btn btn-primary" value="Submit" />
	    	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div> 
	</form>
</div>

