<div class="container" ng-controller="DashboardCtrl">
    <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
      <div class="col-xs-12">
        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
</div>
<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{deviceCount}}</div>
				<div class="comment">Devices</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">{{160}}</div>
				<div class="comment">Servers</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">100</div>
				<div class="comment">Lions</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">0</div>
				<div class="comment">Marks</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6" ng-controller="DeviceListCtrl">
		<rd-widget>
            <rd-widget-header icon="fa-tasks" title="Devices">
                <!-- <a href="#">Manage Devices</a> -->
                    <div style="text-align:right">
                       <a href="" ng-click="openNewDeviceModal()"><i class="fa fa-plus" aria-hidden="true"></i></a>

                    </div>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                   <table class="table table-hover">
                      <thead>
                         <tr><th>DeviceID</th><th>Alias</th><th>Online</th></tr>
                     </thead>
                     <tbody>
                         <tr style="cursor:pointer;" ng-repeat="device in devices" ng-click="navigateToDevice(device.did)" >
                            <td>{{device.did}}</td>
                            <td>{{device.alias}}</td>
                            <td>
                                <span class="fa fa-circle" style="color:#5cb85c" ng-if="device.online"></span>
                                <span class="fa fa-circle-o" style="color:#d9534f" ng-if="!device.online"></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </rd-widget-body>
    </rd-widget>
</div>

<div class="col-lg-6">
  <rd-widget>
     <rd-widget-header icon="fa-users" title="Users">
        <input type="text" placeholder="Search" class="form-control input-sm" />
    </rd-widget-header>
    <rd-widget-body classes="medium no-padding">
            <div ng-controller='TimeCtrl'>
                <div ng-show='online'>
                    <p> Device Online Since: <br> {{lastConnected | date:'medium'}} </p>
                    <p> Current Uptime: <br> {{ clock }} </p>
                </div>
                <div ng-show='!online'>
                	<p> Device is Offline. Last Online: <br> {{lastConnected | date:'medium'}} <p>
                </div>
            </div>

        <div class="table-responsive">
          <canvas id="pie" class="chart chart-pie" chart-data="upTime" chart-labels="labels"> </canvas> 
        </div>
 </rd-widget-body>
</rd-widget>
</div>
</div>

<!--
<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

!-->

 
</div>