<div class="container" ng-controller="DeviceProfileCtrl">

	<div class="row">
		<div class="col-lg-12">
			<h1>
				{{device.alias}}
				<span class="fa fa-circle" style="color:#5cb85c" ng-if="device.online"></span>
				<span class="fa fa-circle-o" style="color:#d9534f" ng-if="!device.online"></span>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6" >
            <rd-widget>
                <rd-widget-header icon="fa-laptop" title="Device Profile">
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table table" ng-controller='TimeCtrl'>
                            <tbody>
                                <tr><td>Alias</td><td>{{device.alias}}</td></tr>
                                <tr><td>DID</td><td>{{device.did}}</td></tr>
                                <tr><td>Description</td><td>{{device.description}} </td></tr>
                					<tr ng-show="device.online"><td> Device Online Since:</td><td> {{establishTime | date:'medium'}} </td></tr>
               						<tr ng-show="device.online"><td> Current Uptime: </td><td> {{ clock }} </td></tr>
               						<tr ng-show="!device.online"><td> Last Online: </td><td> {{device.lastOnline | date:'medium'}} </td></tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>

        <div class="col-lg-6" ng-init="fields={}" ng-controller="DeviceLogsCtrl">
            <rd-widget>
                <rd-widget-header icon="fa-angle-double-up" title="Logs">
                    	Filter by: 
                    		<input type="text" ng-model="fields.search" placeholder="Log"  />
                    		<input type="text" ng-model="fields.critical" placeholder="Critical Value" />
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                   <div class="table-responsive">
                        <table class="table table">
                        	<thead>
								<tr><th>Timestamp</th><th>Log</th><th>Critical Level</th></tr>
                        	</thead>
                            <tbody>
                                <tr ng-repeat="log in logs | filter: {log: fields.search, critical: fields.critical}" ng-style="criticalStyles[log.critical]">
									<td>{{log.timestamp | date:'medium'}}</td>
									<td>{{log.log}}</td>
									<td>{{log.critical}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
	</div>

	<div class="row">
		
		<div class="col-lg-6" ng-controller="DeviceCmdsCtrl">
			<rd-widget>
				<rd-widget-header icon="fa-tasks" title="Commands">
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr style="cursor:pointer;" ng-repeat="cmd in cmds">
									<td>
                                        <button ng-click="sendCmd(cmd)" ng-enabled="device.online" class="btn btn-primary btn-block">
                                            {{cmd}}
                                        </button>
                                    </td>
								</tr>
							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>


		<div class="col-lg-6" ng-controller="DeviceVarsCtrl">
			<rd-widget>
				<rd-widget-header icon="fa-anchor" title="Live variables">
					<!-- <a href="#">Manage Devices</a> -->
					<div style="text-align:right">

					</div>
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr><th>Variable</th><th>Value</th><th>Last change</th></tr>
							</thead>
							<tbody>
								
								<tr style="cursor:pointer;" ng-click="openGraphModal(handle)" ng-repeat="(handle, var) in liveVars">
									<td>{{handle}}</td><td>{{var.value}}</td><td>{{var.timestamp|date:'short'}}</td>

								</tr>

							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>

	</div>

